portuguese-bert/ner_evaluation/.tmp.drivedownload
portuguese-bert/ner_evaluation/.tmp.driveupload
portuguese-bert/ner_evaluation/modelos_gerados
portuguese-bert/ner_evaluation/__pycache__
portuguese-bert/ner_evaluation/data